*{
    margin: 0;
    padding:0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body{
    display:flex;
    width: 100%;
    background-color: #f8f7fa;
}
.sidebar{
    position: sticky;
    top:0;
    left:0;
    bottom:0;
    width:200px;
    height: 100vh;
    padding: 0 1.7rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: white;
    box-shadow: 0px 0px  10px rgb(175, 173, 173);
}
.logo{
    height: 80px;  
    padding: 16px;
}
.menubar{
    height:88%;
    position: relative;
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}
.menubar li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menubar li:hover {
    background:rgba(138, 138, 138, 0.158) ;
}
.menubar a{
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items:center;
    gap:0.8rem;
    color:black;
}
.menubar a span{
    overflow: hidden;
}
.menubar a i ,header i{
    font-size: 1.3rem;
    color: black;
}
.logout{
   position: absolute; 
   bottom:0;
   left:0;
   width:100%;
}
header{
    position: fixed;
    display: flex;
    margin:0px 200px;
    padding: 20px;
    width: 100%;
    height: 10vh;
    background-color:steelblue;
    text-align: center;
}
.searchbar{
    border: solid 1px gainsboro;
    height: 4vh;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: white;
}
.searchbar input{
    height:3.5vh;
    margin-left: 5px;
}
.searchbar i{
    font-size: 1rem;
    color: black;
}
.headerlink{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-left: 650px;
    gap: 30px;
    justify-content: center;
}
.admin{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.admin img{
    border: solid 1px rgb(66, 63, 63);
    padding: 3px;
    height: 40px;
    border-radius: 35px;
    margin-top: -5px;
    background-color: white;
}
/* main contant css start from above*/
main{
    margin-top: 100px;
    margin-left:40px;
    width: 80%;
    font-family:sans-serif;
    font-size: 25px;
    color: rgb(107, 107, 107);
    overflow-x: hidden;
}
/* service table page  css*/
.tableview{
    width: 1070px;
    margin: 10px 0px;
    box-shadow: 0px 0px  10px rgb(175, 173, 173);
    border-radius: 5px;
    background-color: white;
}
.heading{
    display: flex;
    padding: 8px;
    border: solid 1px rgb(175, 173, 173);
    border-radius: 5px;
}
.heading a i{
    margin-right:10px;  
}
.tablesearchbox{
    display: flex;
    border: solid 1px darkgray;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    margin-left: 30px;
    width: 200px;
}
.tablesearchbox i{
    font-size:1.2rem;
    margin-right: 5px;
}
table{
    width: 1060px;
    border-collapse: collapse;
    font-size: medium;
    color: rgb(58, 56, 56);
}
table td{
    padding: 5px 10px;
    border-bottom: solid 1px darkgray;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 15px;
    width: fit-content;
    height: 8vh;
}
a{
    color: #030303;
}
.heading a{
    margin-left: 680px;
}
.tableview a{
    text-decoration: none;
    color: #030303;
    border:solid 1px black;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    width: fit-content;
    height: 30px;
    padding: 5px;
}